*/Build
*/Binares
*/DerivedDataCache
*/Intermediate/
*/Save
BuildingEscape/Content/StarterContent/

*.VC.db
BuildingEscape/Saved/EditorCooked/HTML5/BuildingEscape/AssetRegistry.bin

*.VC.opendb
*.sln
